.label {
    -fx-font-family: MinionPro-Bold;
}

.infoBox {
    -fx-background-color: rgba(108, 108, 108, 0.51);
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.gameBox {
    -fx-opacity: 1;
    -fx-background-image: url("/images/waterBackground.gif");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-border-width: 2px;
    -fx-border-radius: 2px;
    -fx-border-color: black;
}

.playerInfo {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}

.cardBox {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
}

.selectionBox {
    -fx-background-color: rgba(238, 241, 141, 0.31);
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-padding: 10px;
}

.resourceBox {
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-border-color: black;
}

.x0000ffffCircle {
    -fx-fill: rgba(0, 28, 255, 0.26);
    -fx-stroke-width: 3px;
    -fx-stroke: blue;
}

.xffffffffCircle {
    -fx-fill: rgba(253, 248, 255, 0.25);
    -fx-stroke-width: 3px;
    -fx-stroke: white;
}

.xffa500ffCircle {
    -fx-fill: rgba(255, 116, 0, 0.25);
    -fx-stroke-width: 3px;
    -fx-stroke: orange;
}

.xa52a2affCircle {
    -fx-fill: rgba(158, 0, 0, 0.25);
    -fx-stroke-width: 3px;
    -fx-stroke: brown;
}

.x0000ffffPlayerBox {
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-border-color: blue;
}

.xffffffffPlayerBox {
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-border-color: white;
}

.xffa500ffPlayerBox {
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-border-color: orange;
}

.xa52a2affPlayerBox {
    -fx-border-width: 5px;
    -fx-border-radius: 10px;
    -fx-background-color: transparent;
    -fx-border-color: brown;
}


#currentPlayerProgress {
    -fx-pref-width: 30px;
}

.button{
    -fx-background-color: #ffeb75;
    -fx-border-width: 3px;
    -fx-border-color: purple;
    -fx-border-style: dashed;
    -fx-border-radius: 3px;
    -fx-font-family: MinionPro-Bold;
}

.button:hover {
    -fx-background-color: #ffd581;
    -fx-border-width: 3px;
    -fx-border-color: #800051;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
}

.button:pressed {
    -fx-background-color: #6800ff;
    -fx-border-width: 3px;
    -fx-border-color: #800034;
    -fx-border-style: solid;
    -fx-border-radius: 3px;
    -fx-translate-y: 10px;
}

#endTurn {
     -fx-background-color: red;
     -fx-pref-width: 100px;
     -fx-pref-height: 100px;
     -fx-background-radius: 100px;
     -fx-font-size: 15px;
     -fx-text-fill: white;
     -fx-border-color: white;
     -fx-border-radius: 100px;
     -fx-border-width: 4px;
     -fx-border-style: solid;
}
#endTurn:hover {
    -fx-background-color: #ff4700;
    -fx-text-fill: #282828;
    -fx-border-color: #282828;
}
#endTurn:pressed {
    -fx-background-color: #9e0000;
    -fx-text-fill: #7b7b7b;
    -fx-border-color: #7b7b7b;
    -fx-font-size: 15px;
}

#statusText {
    -fx-background-color: transparent;
    -fx-font-family: MinionPro-Bold;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-padding: 10px;
}
