.anchor {
    -fx-background-image: url("/images/dark-red.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-font-family: MinionPro-Bold;
}

Label {
    -fx-font-family: MinionPro-Bold;
}

Text {
    -fx-font-family: MinionPro-Bold;
}

#goBack {
    -fx-opacity: 0.5;
}

#goBack:hover {
    -fx-opacity: 1;
}