.anchor {
    -fx-background-image: url("/images/dark-red.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-font-family: MinionPro-Bold;
}

#goBack {
    -fx-opacity: 0.5;
}

#goBack:hover {
    -fx-opacity: 1;
}

.playerColor {
    -fx-border-style: dashed;
    -fx-border-radius: 3px;
    -fx-border-color: black;
    -fx-border-width: 5px;
}

#player1Color {
    -fx-background-color: #00007f;
}

#player2Color {
    -fx-background-color: white;
}

#player3Color {
    -fx-background-color: darkorange;
}

#player4Color {
    -fx-background-color: #573500;
}

.text-field {
    -fx-text-alignment: center;
}