.anchor {
    -fx-background-image: url("/images/game_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#goBack {
    -fx-opacity: 0.5;
}

#goBack:hover {
    -fx-opacity: 1;
}